---
export const prerender = true;
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to FLAMES.">
  <main class="flex items-center justify-center p-6 overflow-y-scroll">
    <div class="flex flex-col space-y-5 max-w-lg">
      <h1 class="text-2xl font-normal">
        "FLAMES" is a playful and popular acronym that represents a fun and
        informal way to determine the relationship or compatibility between two
        individuals. Each letter in "FLAMES" stands for a different category:
      </h1>
      <ol class="text-lg font-semibold list-disc list-inside">
        <li>F - Friends</li>
        <li>L - Love</li>
        <li>A - Affection</li>
        <li>M - Marriage</li>
        <li>E - Enemies</li>
      </ol>
      <div class="flex flex-col space-y-7">
        <p class="text-base">
          To use the "FLAMES" game, the names of the two individuals are written
          down, and common letters between their names are crossed out. The
          remaining letters are used to determine which category each letter in
          "FLAMES" corresponds to. The corresponding categories are then
          eliminated one by one until only one category remains. This final
          category supposedly represents the nature of the relationship between
          the two individuals.
        </p>
        <p class="text-sm italic">
          "It's important to note that "FLAMES" is just a fun and lighthearted
          game, and its results have no scientific basis. It's mainly used for
          entertainment among friends and is not a serious method for assessing
          relationships."
        </p>
      </div>
    </div>
  </main>
</Layout>
