---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import FlamesCalculator from "../components/FlamesCalculator";
---

<Layout title="Welcome to FLAMES.">
  <main class="flex items-center justify-center">
    <FlamesCalculator client:load />
  </main>
</Layout>
